
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




* {
   margin: 0;
   padding: 0px;
   box-sizing: border-box;
   color: #243e63;
   font-family: "Roboto", sans-serif;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;  
}

nav {
  display: flex;
  align-items: center;
  padding: 40px 0;
}


.nav__links {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.nav__link {
  padding-right: 15px;
}

.button__link {
  color: white;
}
.nav__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.nav__title {
font-size: 24px;
font-weight: 900;
}

.logo {
  display: flex;
  width: 45px;
  height:45px;
  display: block;
}



.nav__button {
   color: white;
   background-color: #6415ff; 
   padding: 10px 25px;
   border-radius: 25px; 
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   font-size: 16;
   font-weight: 700;
}


/*     HEADER      */

header {
  padding: 62px 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__left--input {
  margin: 0;
}

.header__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-img__wrapper {
  width: 60%;
}

.header-img {
  display: block;
  width: 100%;
}

.purple {
  color: #6415ff;
}
.header-title {
  font-size: 48px;
  font-weight: 900;
}

.header__des--para {
  margin: 38px 0;
  font-size: 18px;
}

.header-input__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 448px;
  height: 68px;
}

.header-input {
  padding: 20px 100px;
  border-radius: 30px;
  border: 2px solid rgb(229, 231, 235); 
  width: 100%;
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px; 
  font-weight: 500;
  z-index: 1;
}

.get-started__button {
  position: absolute;
  margin: 0 8px;
  height: 50px;
  z-index: 2;
  margin-right: 6.5px;
  border-radius: 300px;
  width: 145px;
  background-color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: white;
}

.bottom-logo__wrapper {
  margin: 32px 0;
}

.logo-strip {
  width: 100%;
  margin: 18px 0;
  padding-right: 128px;
  opacity: 0.5;
}

.header-des__bottom {
 color: #a0aec0;
}


/*     main      */


main {
  margin: 50px 0;
}

.section-tag {
  font-size: 19px;
  letter-spacing: 1.6px;
}


.row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.feat-heading {
  margin: 20px 0;
  font-size: 55px;
  font-weight: 900;
}

.feat-des {
  max-width: 576px;
  text-align: center;
  font-size: 17px;
  color: #7c8ba1;
  padding: auto;
}

.feat-list__wrapper {
width: calc(100% / 3);
}

.feat-lists {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feat-list {
 padding: 32px 24px;
  display: flex;
  flex-direction:
  align-items: flex-start;
}

.feat-list__heading {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
}

.feat-list__para {
  color:#7c8ba1;
  font-size: 16px;
}

.list-img__wrapper {
}

.head__para--wrapper {
  display: flex;
  flex-direction: column;
}