
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");




* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #243e63;
   font-family: "Roboto", sans-serif;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;  
}

nav {
  display: flex;
  align-items: center;
  padding: 40px 0;
}


.nav__links {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.nav__link {
  padding-right: 15px;
}

.button__link {
  color: white;
}
.nav__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.nav__title {
font-size: 24px;
font-weight: 900;
}

.logo {
  display: flex;
  width: 45px;
  height:45px;
  display: block;
}



.nav__button {
   color: white;
   background-color: #6415ff; 
   padding: 10px 25px;
   border-radius: 25px; 
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   font-size: 16;
   font-weight: 700;
}


/*     HEADER      */

header {
  padding: 62px 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__left--input {
  margin: 0;
}

.header__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-img__wrapper {
  width: 60%;
}

.header-img {
  display: block;
  width: 100%;
}

.purple {
  color: #6415ff;
}
.header-title {
  font-size: 48px;
  font-weight: 900;
}

.header__des--para {
  margin: 38px 0;
  font-size: 18px;
  line-height: 26px;
}

.header-input__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 448px;
  height: 68px;
}

.header-input {
  padding: 20px 100px;
  border-radius: 30px;
  border: 2px solid rgb(229, 231, 235); 
  width: 100%;
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px; 
  font-weight: 500;
  z-index: 1;
}

.get-started__button {
  position: absolute;
  margin: 0 8px;
  height: 50px;
  z-index: 2;
  margin-right: 6.5px;
  border-radius: 300px;
  width: 145px;
  background-color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: white;
}

.bottom-logo__wrapper {
  margin: 32px 0;
}

.logo-strip {
  width: 100%;
  margin: 18px 0;
  padding-right: 128px;
  opacity: 0.5;
}

.header-des__bottom {
 color: #a0aec0;
}


/*     main      */


main {
  margin: 50px 0;
}

#features {
}

.section-tag {
  font-size: 19px;
  letter-spacing: 1.6px;
}


.row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.section-heading {
  margin: 20px 0;
  font-size: 55px;
  font-weight: 900;
}

.feat-des {
  max-width: 576px;
  text-align: center;
  font-size: 17px;
  color: #7c8ba1;
  padding: auto;
  line-height: 26px;
}

.feat-list__wrapper {
width: calc(100% / 3);
}

.feat-lists {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feat-list {
 padding: 32px 24px;
  display: flex;
  align-items: flex-start;
}

.feat-list__heading {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
}

.feat-list__para {
  color:#7c8ba1;
  font-size: 16px;
  line-height: 26px;
}

.list-img__wrapper {
  display: flex;
  border-radius: 500px;
  border: solid rgb(229, 231, 235);
  border-width: 1px;
  padding: 20px;
  margin-right: 20px;
}

.head__para--wrapper {
  display: flex;
  flex-direction: column; 
}



/* QUALITY */

#quality, #features {
  margin-bottom: 250px;
}

.quality-head {
max-width: 517px;
}

.quality-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quality-des {
  max-width: 517px;
  font-weight: 450;
font-size: 18px;
line-height: 29px;
color: rgb(124, 139, 161);
}

.learn-more__button {
margin: 14px 0;
padding: 15px 35px;
border: none;
border-radius:50px;
font-weight: 800;
color: white;
background-color:#6415ff;
max-width: fit-content;
}


.quality-img__wrapper {
  position: relative;
 border: 1px solid rgb(229, 231, 235); 
 border-radius: 4px;
 z-index: 2;
 display: flex;
 width: 50%;
}

.quality-img {
  width: 100%;
  z-index: 1;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}




/* steps */



.steps-img__wrapper {
  width: 50%;
  display: flex;
  position: relative;
}

.steps-img {
  width: 100%;
  z-index: 2;
}

.steps__grid {
  display: block;
  position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateY(-18%) translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: rgb(100, 21, 255);
    opacity: 0.1;
}

.steps-right {
  width: 50%;
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.steps-lists {
  display: flex;
  flex-direction: column; 
}

.steps-list {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.step-number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
}

.step-des__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.step-des__title {
font-size: 18px;
font-weight: 600;
margin-bottom: 20px;
}

.step-des {
  color: #718096;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  max-width: 320px;
}


/* values */


#values {
  margin-top: 250px;
}


.values-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}


.values-des__para {
color: #7c8ba1;
font-size: 18px;
font-weight: 500;
line-height: 1.62;
margin-bottom: 38px;
max-width: 517px;
}  



.values-des__2:nth-child(1) .values-img__wrapper {
  background-color: #9ae6b4;
}

.values-des__2:nth-child(2) .values-img__wrapper {
background-color: #feb2b2;
}


.values-img__wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

 .value__img {
   width: 20px;
   height: 20px;
}



.heading-img__wrapper {
display: flex;
flex-direction: row;
align-items: center;
}

.values-des-title {
font-size: 20px;
font-weight: 700;
}

.values__sub-des {
max-width: 228px;
color: #718096;
line-height: 1.62;
font-weight: 400;
margin: 15px 0 45px 0;
}

.values-list {
display: flex;
flex-direction: row;
}

  .value-img__right-wrapper {
   width:50%;
   display: flex;
   margin: 0 auto;
  }

  .value-img__right {
    max-width: 100%;
  }


  /* PRICING */

#pricing{
  margin-top: 250px;
}


  .pricing__section-des {
    max-width: 576px;
    text-align: center;
    line-height: 1.62;
    font-size: 18px;
    font-weight: 500;
    color: #718096;
    margin-bottom: 55px;
  }


  .plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  .plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 384px;
    border-radius: 8px;
    background-color: rgb(255 255 255);
    padding: 8px 32px 0 32px;
    margin-right: 32px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  .plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  }

  .plan-stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }


.plan:nth-child(1) .plan-stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  }

  .plan:nth-child(3) .plan-stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  }


  .plan-top {
    display: flex;flex-direction: column;
    padding: 32px 0;
    text-transform: uppercase;
    line-height: 1.625;
  }

  .plan-name, .plan-price, .plan-dura {
    font-weight: bold;
    line-height: 1.625;
  }


  .plan-name {
    font-size: 20px
  }

  .plan:nth-child(odd) .plan-name {
    color:#1a202c;
  }
  .plan:nth-child(even) .plan-name {
    color: white;
  }

  .plan-price {
    font-size: 48px;
    margin: 4px 0;
  }

  .plan:nth-child(odd) .plan-price {
    color:#1a202c;
  }

  .plan:nth-child(even) .plan-price {
    color: white;
  }

  .plan-dura {
    font-size: 16px;
    letter-spacing: 1.6px;
  }

  .plan:nth-child(odd) .plan-dura {
    color: #a0aec0;
  }

  .plan:nth-child(even) .plan-dura {
    color: white;
  }



.plan-middle {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 32px;
  margin: 0 -32px;
  width: 384px;
}

.plan:nth-child(odd) .plan-middle {
  border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(even) .plan-middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}


.plan-target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.plan:nth-child(odd) .plan-target {
    color: #1a202c;
}

.plan:nth-child(even) .plan-target {
  color: white;
}

.plan-feature {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
  font-size: 17px;
  line-height: 1.5
}

.plan:nth-child(2) .plan-feature {
  color: #f7fafc;
}

.plan-bottom {
  padding: 64px 32px;
}

.buy-now_button { 
  padding: 15px 55px;
  font-weight: 700;
  width: 100%;
  border-radius: 9999px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}


.plan:nth-child(1) .buy-now_button {
color: #f7fafc;
background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}


.plan:nth-child(2) .buy-now_button {
color: #6415ff;
background-color: #f7fafc;  
}


.plan:nth-child(3) .buy-now_button {
color: #f7fafc;
background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);  
}


.plans-blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}